.result {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.one,
.two {
  display: inline;
  font-size: inherit;
}

.converter-input {
  margin: 5vh auto;
}

.converter-heading {
  font-size: 1.5em;
  text-align: center;
}
