#date-div, #clock, #message {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  line-height: 100px;
}

#date-div {
  margin-top: 150px;
}

#clock {
  font-size: 3.5rem;
  font-weight: 700;
}