$color_1: darkslategray;

@import "https://fonts.googleapis.com/css?family=PT+Mono";

.box {
    width: 90%;
    min-width: 240px;
    display: block;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(to right, white 35%, whitesmoke 100%);
    margin: 20vh auto;
    color: $color_1;
    box-shadow: 1px 2px 1px -1px #777;
    transition: background 200ms ease-in-out;
	& p {
		text-align: center;
		width: 100%;
		position: absolute;
		top: 20%;
		font-weight: 300;
		font-style: italic;
		font-size: 1.5em;
		margin: 0 auto;
	}
}

.shadow {
	position: relative;
    display: none;
	&:before {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 13px;
		right: 7px;
		width: 25%;
		top: 0;
		box-shadow: 0 15px 10px #777;
		transform: rotate(4deg);
		transition: all 150ms ease-in-out;
	}
	&:hover {
		&::before {
			transform: rotate(0deg);
			bottom: 20px;
			z-index: -10;
		}
	}
}


.cookie {
    max-width: 330px;
    margin: 0 auto;
    position: relative;
}

.cookie-open {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    &:hover {
        animation-play-state: paused;
    }
}
