@media screen and (min-width: 320px) and (max-width: 1026px) {
  .image {
    max-width: 80%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  #back {
    left: 7%;
    top: 5.5%;
    width: 29vh;
    height: 9vh;
    font-size: 1.5em;
    padding: 0;
  }

  .container.game section {
    flex-direction: column;
  }

  .cookie {
    max-width: 250px;
  }

  .box {
    max-width: 70%;
    height: 200px;
    min-width: 100px;
  }

  .box.shadow p {
    max-width: 90%;
    padding: 10px;
    font-size: 1em;
    top: 35%;
  }
}

@media screen and (min-width: 769px) {
  .box {
    max-width: 90%;
    height: 100px;
  }
}
