.image {
  max-width: 1000px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  max-height: 400px;
  transition: transform 0.4s;
  margin-bottom: 50px;
  &:hover {
    transform: scale(1.1);
  }
}
