@import "https://fonts.googleapis.com/css?family=PT+Mono";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgba(253, 29, 29, 0.3393732493) 50%, rgb(252, 176, 69) 100%);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  padding: 15px;
}

.container.subpage {
  margin-top: 15vh;
}
.container.subpage section {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

h1, h2, h3, span {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-top: 150px;
  margin-bottom: 50px;
  display: block;
}

h2 {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 5px;
}

span {
  display: block;
  font-size: 4vh;
  margin: 40px auto;
}

ol {
  margin: 0 auto;
}
ol a {
  font-size: 1.7rem;
  color: rgb(131, 58, 180);
}
ol a:hover {
  color: rgb(116, 10, 168);
}
ol a:active {
  color: rgb(131, 100, 180);
}

a {
  text-decoration: none;
}

li {
  margin: 40px 0;
}
li::marker {
  font-size: 2rem;
}

.input {
  position: relative;
  display: block;
  padding: 25px 0;
  padding-left: 30px;
  width: 100%;
  font-size: 1.5rem;
  border: none;
  border-radius: 1.4rem;
  margin: 50px auto;
  font-family: "Montserrat", sans-serif;
}
.input::placeholder {
  color: #b0bec5;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.input:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--dark);
}

.bounce {
  animation-name: bounce;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
#date-div, #clock, #message {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  line-height: 100px;
}

#date-div {
  margin-top: 150px;
}

#clock {
  font-size: 3.5rem;
  font-weight: 700;
}

button {
  font-family: "Montserrat", sans-serif;
  display: block;
  margin: 10px auto;
  width: 30vh;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
  height: 70px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
button:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#instruction {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1.5px;
  line-height: 30px;
  margin: 70px 0;
}

#back {
  display: inline;
  position: absolute;
  left: 4%;
  top: 4%;
  width: 25vh;
  height: 55px;
}
#back a {
  color: #fff;
  padding: 30px;
}

.button-container {
  display: none;
  flex-wrap: wrap;
}
.button-container button {
  min-width: 20vh;
}

.arrow-btn {
  position: fixed;
  top: 10px;
  right: 10px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-size: cover;
  transition: 0.6s;
}

.item1 {
  height: 0;
  background-image: url("https://th.bing.com/th/id/R.a8c8da654ee358c95b69a1ef63dd0255?rik=vGGxuThwJFhKIw&pid=ImgRaw&r=0");
}

.item2 {
  height: 300px;
  background-image: url("https://th.bing.com/th/id/R.138a4990b64223793fef9d683093eac5?rik=2fINvu2blC214A&pid=ImgRaw&r=0");
  background-position: center;
}

.show {
  height: 300px;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.arrow {
  background-image: url("../svg/down-arrow-5.svg");
  width: 7vh;
  height: 7vh;
  margin: 0 auto;
  transition: transform 0.6s;
}

.plus-img,
.minus-img {
  width: 5vh;
  height: 5vh;
  margin: 0 auto;
}

.plus-img {
  background-image: url("../svg/plus.svg");
  fill: white;
}

.minus-img {
  background-image: url("../svg/minus.svg");
}

.image {
  max-width: 1000px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  max-height: 400px;
  transition: transform 0.4s;
  margin-bottom: 50px;
}
.image:hover {
  transform: scale(1.1);
}

.validator-info {
  text-align: center;
  font-size: 1.5em;
  padding: 15px 0;
  border-radius: 10px;
}

.result {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.one,
.two {
  display: inline;
  font-size: inherit;
}

.converter-input {
  margin: 5vh auto;
}

.converter-heading {
  font-size: 1.5em;
  text-align: center;
}

.box {
  width: 90%;
  min-width: 240px;
  display: block;
  height: 50px;
  border-radius: 5px;
  background: linear-gradient(to right, white 35%, whitesmoke 100%);
  margin: 20vh auto;
  color: darkslategray;
  box-shadow: 1px 2px 1px -1px #777;
  transition: background 200ms ease-in-out;
}
.box p {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 20%;
  font-weight: 300;
  font-style: italic;
  font-size: 1.5em;
  margin: 0 auto;
}

.shadow {
  position: relative;
  display: none;
}
.shadow:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 13px;
  right: 7px;
  width: 25%;
  top: 0;
  box-shadow: 0 15px 10px #777;
  transform: rotate(4deg);
  transition: all 150ms ease-in-out;
}
.shadow:hover::before {
  transform: rotate(0deg);
  bottom: 20px;
  z-index: -10;
}

.cookie {
  max-width: 330px;
  margin: 0 auto;
  position: relative;
}

.cookie-open {
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
.cookie-open:hover {
  animation-play-state: paused;
}

@media screen and (min-width: 320px) and (max-width: 1026px) {
  .image {
    max-width: 80%;
  }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  #back {
    left: 7%;
    top: 5.5%;
    width: 29vh;
    height: 9vh;
    font-size: 1.5em;
    padding: 0;
  }
  .container.game section {
    flex-direction: column;
  }
  .cookie {
    max-width: 250px;
  }
  .box {
    max-width: 70%;
    height: 200px;
    min-width: 100px;
  }
  .box.shadow p {
    max-width: 90%;
    padding: 10px;
    font-size: 1em;
    top: 35%;
  }
}
@media screen and (min-width: 769px) {
  .box {
    max-width: 90%;
    height: 100px;
  }
}/*# sourceMappingURL=main.css.map */