:root {
  --main-font: 'Quattrocento', serif;
  --sec-font: 'Quattrocento Sans', sans-serif;
  --dark: #000;
}

body {
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgba(253, 29, 29, 0.3393732493) 50%, rgb(252, 176, 69) 100%);
}

  .container {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;
    padding: 15px;
  }

span, h1 {
  display: block;
  text-align: center;

}

h1 {
  font-family: var(--main-font);
  font-size: 43px;
  margin-top: 150px;
}

#instruction {
    font-family: var(--main-font);
  font-size: 35px;
  text-align: center;
}

span {
  font-family: var(--sec-font);
  font-size: 4vh;
}

ol {
  --marker-color: #000; 
      text-align: center;
    width: 55%;
    margin: 0 auto;
}
  
  li::marker {
    content: counter(list-item);
    font-family: var(--main-font), var(--sec-font);;
    font-size: 2em;
    color: var(--marker-color);
    text-align: center;
  }


a {
  text-decoration: none;
}

ol a {
  font-family: var(--sec-font);;
  font-size: 1.5rem;
}

#back a {

color: #fff;
}

button {
  display: block;
  margin: 10px auto;
  width: 26vh;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 70px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-family: var(--main-font);
  background-image: linear-gradient(to right, #667eea, #764ba2, #6b8dd6, #8e37d7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

button:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#back {
  display: inline;
  position: absolute;
left: 8%;
    top: 11.5%;
  width: 100px;
    height: 55px;
}


.image {
  width: 1000px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  max-height: 400px;
  transition: transform 0.4s;
}

.image:hover {
  transform: scale(1.2);
}

.Input {
  position: relative;
 
}

.Input-text {
  display: block;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  font-family: var(--sec-font);;
  font-size: 1rem;
  border: none;
  border-radius: 1.4rem;
  margin: 50px auto;
}

.Input-text::placeholder {
  color: #B0BEC5;
  font-size: 1rem;
}

.Input-text:focus {
  outline: none;
  box-shadow: 0.2rem 0.8rem 1.6rem var(--dark);
}


@media screen and (min-width: 320px) and (max-width: 1026px) {


  .image {
    max-width: 80%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

#back {
      left: 7%;
    top: 5.5%;
    width: 14vh;
    height: 6vh;
} }

#date-div, #clock, #message {
  font-family: var(--sec-font);
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  line-height: 7rem;
}

#date-div {
  margin-top: 150px;
}

#clock {
  font-size: 5rem;
  font-weight: 700;
}





